#PrinDiv{
    width: 100vw;
    height: 100vh;
}

#volverBoton{
    background: none;
    border: none;
    outline: none;
}

#logo{
    width: 5vw;
}

#iconosSuperiores{
    margin-top: 3vh;
    height: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}