.Card{
    width: 20%;
    margin: 0 2vw 0 2vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    
}

#PrinDiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.tituloYbuton{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.cardInfo{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 1vw;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 1vw;
    background-color: #d3e0cc;
    color: #0D2833;
}

#titulo{
    font-size: 3vw;
    color: #d3e0cc;
}


.cardInfo h3{
    text-align: center;
}



@media (min-width: 768px) {

    
}


@media (max-width: 768px) {
    .Card{
        width: 60%;
        height: auto;
    }
    .cardInfoH3{
        font-size: 1rem;
    }
}
  