.Card{
    width: 20%;
    margin: 0 2vw 0 2vw;
    height: auto;
    display: flex;
}

#PrinDiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

.tituloYbuton{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.cardInfo{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    margin-bottom: 1vw;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 1vw;
    background-color: #d3e0cc;
    color: #0D2833;
}

#titulo{
    font-size: 3vw;
    color: #d3e0cc;
}


.cardInfo h3{
    text-align: center;
}

.link{
    height: 100%;
}

@media (min-width: 792px) {
    .Card{
        width: 20%;
        margin: 0 2vw 0 2vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        font-size: 1vw;
        
    }

    #PrinDiv{
        flex-direction: row;
    }
}   


@media (max-width: 792px) {
    .Card{
        width: 60%;
        height: auto;
        flex-direction: column;
    }
    .cardInfoH3{
        font-size: 1rem;
    }

    #PrinDiv{
        flex-direction: column;
        align-items: center;

    }
}
  