.footer {
    background-color: #d3e0cc;
    color: black;
    padding: 20px;
    text-align: center;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footerSection {
    margin: 15px;
    flex: 1;
    min-width: 200px;
  }
  
  .footerSection h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footerSection p, .footerSection ul {
    font-size: 14px;
  }
  
  .links {
    list-style-type: none;
    padding: 0;
  }
  
  .links li {
    margin-bottom: 5px;
  }
  
  .links li a {
    text-decoration: none;
    color: black;
  }
  
  .links li a:hover {
    color: #00bfa5;
  }
  
  .footerBottom {
    margin-top: 20px;
    border-top: 1px solid #666;
    padding-top: 10px;
    font-size: 14px;
  }
  

  @media (max-width: 768px) {
    .footer{
      height: 15%;
    }
    
  }