#quienesSomos{
    font-size: 4vw;
    display: flex;
}

#PrincipalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#capturaMain{
    margin-top: -5vw;
    width: 35%;
    height: auto;
}


#downloadAPP{
    width: 10%;
    height: auto;
}

#downloadSites{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#downloadSites img{
    width: 15%;
}

@media (max-width: 768px) {

    #capturaMain{
        width: 70%;

    }

    #downloadSites img{
        width: 35%;
    }

}